@model Estoque.Entities.Pais

@{
    ViewData["Title"] = "Consulta";
    ViewData["Formulario"] = "Países";
    ViewData["Acao"] = "Deletar";
}

<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <strong>Exclusão</strong>
        </div>
        <div class="card-body card-block">
            <h3>Deseja realmente excluir?</h3>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>
            </dl>
        </div>
        <div class="card-footer">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <a class="btn btn-secondary" asp-action="Index"><i class="fa fa-arrow-left"></i>&nbsp; Voltar</a> |
                <input type="submit" value="Excluir" class="btn btn-danger pull-right" />
            </form>
        </div>
    </div>
</div>